:root {
  --wiuMainGreen: #5cdb95;
  --wiuLightGreen: #8ee4af;
  --wiuDarkGreen: #379683;
  --wiuBlue: #05386b;
  --wiuWhite: #edf5e1;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
